@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --point: 255, 100, 78; */
  /* --point2: 255, 167, 155; */

  --point: 142, 188, 219;
  --point2: 181, 211, 231;
  --point3: 223, 168, 176;


  --grey_Title: 77, 77, 77;
  --grey_Title_Darker: 55, 55, 55;
  --grey_Sub_Title: 169, 169, 169;
  --lightGrey_BG: 246, 246, 246;
  --lightGrey_CP: 235, 235, 235;

  --desktopHeader: 96px;
  --optionHeight: 45px;
  --mobileHeader: 72px;
  --mobileNav: 42px;
}


/* for darkmode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input {
  outline: none;
}

body {}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}