@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  새로고침 시 스타일 깨짐 방지 (FOUC)
  - hydration 전까지 body 숨김
  - registry.tsx에서 hydrated 클래스 추가함
*/
html:not(.hydrated) body {
  visibility: hidden;
}

html.hydrated body {
  visibility: visible;
}

/* 혹시 hydration 안되면 2초 후 강제로 보여줌 */
@keyframes showBody {
  to {
    visibility: visible;
  }
}

html:not(.hydrated) body {
  animation: showBody 0s 2s forwards;
}

:root {
  --font-size-base: 16px;
  --whitesmoke: 245, 245, 245;
  --theme-bg: #f5f5fa;

  --point: 153, 151, 203;
  --point2: 187, 185, 220;

  --greyTitle: 88, 88, 88;
  --greyTitle2: 66, 66, 66;

  --lightGrey1: 251, 251, 251;
  --lightGrey2: 238, 238, 238;

  --sidebarWidth: 300px;
  --desktopHeader: 72px;
  --optionHeight: 47px;
  --mobileHeader: 56px;
  --mobileNav: 96px;
}


/* for darkmode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input,
textarea {
  outline: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;

  &::-webkit-scrollbar {
    display: none;
  }
}



html,
body {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;

  margin: 0;
  padding: 0;

  background-color: white;
}

@font-face {
  font-family: 'BMJUA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HakgyoansimGeurimilgiTTF-R';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimGeurimilgiTTF-R.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

div,
span {
  font-family: 'HakgyoansimGeurimilgiTTF-R';
}

/* 타입2: 모든 폰트를 배민주아체로 */
body.font-type2,
body.font-type2 * {
  font-family: 'BMJUA', sans-serif !important;
}

/* 타입3: 모든 폰트를 Pretendard로 */
body.font-type3,
body.font-type3 * {
  font-family: var(--font-pretendard), -apple-system, BlinkMacSystemFont, system-ui, sans-serif !important;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}