@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --point: 255, 100, 78; */
  /* --point2: 255, 167, 155; */

  --whitesmoke: 245, 245, 245;
  /* --point: 142, 188, 219;
  --point2: 181, 211, 231; */

  --point: 153, 151, 203;
  --point2: 187, 185, 220;

  --greyTitle: 88, 88, 88;
  --greyTitle2: 66, 66, 66;

  --lightGrey1: 246, 246, 246;
  --lightGrey2: 235, 235, 235;


  --sidebarWidth: 350px;
  --desktopHeader: 96px;
  --optionHeight: 47px;
  --mobileHeader: 48px;
  --mobileNav: 48px;
}


/* for darkmode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input,
textarea {
  outline: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;

  &::-webkit-scrollbar {
    display: none;
  }
}



html,
body {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;

  margin: 0;
  padding: 0;

  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}