@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --point: 255, 100, 78; */
  /* --point2: 255, 167, 155; */

  --whitesmoke: 245, 245, 245;
  --point: 142, 188, 219;
  --point2: 181, 211, 231;

  --greyTitle: 88, 88, 88;

  --lightGrey1: 246, 246, 246;
  --lightGrey2: 235, 235, 235;

  --desktopHeader: 96px;
  --optionHeight: 47px;
  --mobileHeader: 56px;
  --mobileNav: 48px;
}


/* for darkmode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input,
textarea {
  outline: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}



html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}